for request in locals.models
    .panel.panel-default
        .panel-body
            .container-fluid
                .row
                    .col-md-6
                        img.requestuserimage.pull-left(src='#{request.get("rUser").image}')
                        h3.myhistoryusername.btn(data-rid='#{request.get("rid")}', data-toggle='modal', data-target='#otherProfileModal', data-backdrop='static') #{request.get("rUser").username}
                    .col-md-6
                        .container-fluid
                            .row.pull-right
                                | Requested&nbsp
                                em
                                    b $#{request.get("amount")}
                                |  on #{request.get("requestTime")}
                .row
                    .col-md-6.pull-left
                        if request.get("rUser").tags.length > 0 && request.get("rUser").tags[0].tagname !== ""
                            for tag in request.get("rUser").tags
                                if tag.tagname !== ''
                                    | &nbsp##{tag.tagname}
                                if tag.verifiedBy !== ''
                                    span(data-title='Verified by #{tag.verifiedBy}')
                                        img.checkmark(src='/img/marooncheckmark.png')
                                else
                                    | &nbsp
                    .col-md-6
                        .fulfilled.pull-right FULFILLED
                            i  on #{request.get("donateTime")}
                .row.topborder
                    br
                    .col-md-4
                        img.otherrequestimage(src='#{request.get("image")}')
                        if request.get("tag1") !== ''
                            em
                                b ##{request.get("tag1").tagname}
                    .col-md-8.text-center
                        .requestdescriptiondiv
                            | #{request.get("description")}
                .container-fluid
                    .row
                        .col-md-12.text-right
                            if request.get("thankYou") !== ''
                                br
                                a#viewThankYouBtn.btn.turquoise.whitetext(data-rUsername='#{request.get("rUser").username}', data-note='#{request.get("thankYou").note}', data-date='#{request.get("thankYou").date}', data-toggle='modal', data-target='#viewThankYouModal', data-backdrop='static') view<br>"Thank you"