for request in locals.models
    .row
        .col-md-12
            .panel.roundrequest
                .form-inline
                    .container
                        .requestmargin
                            .row
                                .col-md-1
                                    img.requestuserimage(src='#{request.get("rUser").image}')
                                .col-md-8.padding-left
                                    a.requestusername(href='#') @#{request.get("rUser").username}
                                    .form-inline.tags
                                        | #singleParent
                                        img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
                                        //|   ##{request.get("tag1").tagname} ##{request.get("tag2").tagname}
                                        //| #UofUStudent
                                        //img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
                                        //| #rent
                                .col-md-3
                                    | Requested &nbsp
                                    em
                                        b $#{request.get("amount")}
                                    |  on #{request.get("requestTime")}
                                    .form-inline
                                        .fulfilled FULFILLED
                                        |  on #{request.get("donateTime")}
                            .row.padding-top
                                .col-md-2
                                    img.requestimage(src='#{request.get("image")}')
                                .col-md-8
                                    .requestmessage
                                        | #{request.get("description")}
                                .col-md-2
                                    button.thankyoubtn.winebtn view<br>"Thank you"