for request in locals.models
    .row
        .col-md-12
            .panel.roundrequest
                .form-inline
                    .container
                        .requestmargin
                            .row
                                .col-md-1
                                    img.requestuserimage(src='#{request.get("rUser").image}')
                                .col-md-8.padding-left
                                    a.requestusername(href='#') @#{request.get("rUser").username}
                                    .form-inline.tags
                                        for tag in request.get("rUser").tags
                                            if tag.tagname !== ''
                                                | &nbsp##{tag.tagname}
                                            if tag.verifiedBy !== ''
                                                img.checkmark(src='/img/marooncheckmark.png', title='Verified by #{tag.verifiedBy}')
                                            else
                                                | &nbsp
                                        if request.get("tag1") !== ''
                                            | &nbsp##{request.get("tag1").tagname}
                                        if request.get("tag2") !== ''
                                            | &nbsp##{request.get("tag2").tagname}
                                .col-md-3
                                    | Requested &nbsp
                                    em
                                        b $#{request.get("amount")}
                                    |  on #{request.get("requestTime")}
                                    .form-inline
                                        .fulfilled FULFILLED
                                        |  on #{request.get("donateTime")}
                            .row.padding-top
                                .col-md-2
                                    img.requestimage(src='#{request.get("image")}')
                                .col-md-8
                                    .requestmessage
                                        | #{request.get("description")}
                                .col-md-2
                                    button.thankyoubtn.winebtn view<br>"Thank you"