for request in locals.models
    .row
        .col-md-12
            .panel.roundrequest
                .form-inline
                    .container
                        .requestmargin
                            .row
                                .col-md-1
                                    //img.requestuserimage(src='/img/default_profile_pic.png')
                                    img.requestuserimage(src='#{request.get("rUser").image}')
                                .col-md-7.padding-left
                                    a.requestusername(href='#') @#{request.get("rUser").username}
                                    .form-inline.tags
                                        for tag in request.get("rUser").tags
                                            if tag.tagname !== ''
                                                | &nbsp##{tag.tagname}
                                            if tag.verifiedBy !== ''
                                                span(data-title='Verified by #{tag.verifiedBy}')
                                                    img.checkmark(src='/img/marooncheckmark.png')
                                            else
                                                | &nbsp
                                        if request.get("tag1") !== ''
                                            | &nbsp##{request.get("tag1").tagname}
                                        if request.get("tag2") !== ''
                                            | &nbsp##{request.get("tag2").tagname}
                                .col-md-4
                                    | Requested
                                    em
                                        b $#{request.get("amount")}
                                    |  on #{request.get("date")}
                                    if request.get("duid") > 0
                                        .fulfilled FULFILLED
                                    else
                                        .open OPEN #{request.get("duid")}
                            .row.padding-top
                                .col-md-1
                                .col-md-2
                                    img.requestimage(src='#{request.get("image")}')
                                .col-md-7
                                    .requestmessage
                                        | #{request.get("description")}
                                .col-md-2.btn-group
                                    if request.get("duid") > 0
                                        if request.get("thankYou") === ''
                                            a#sayThankYouBtn.thankyoubtn.btn.winebtn.whitetext(data-rid='#{request.get("rid")}', data-duid='#{request.get("duid")}',data-toggle='modal', data-target='#sayThankYouModal', data-backdrop='static') say<br>"Thank you"
                                        else
                                            a#viewThankYouBtn.thankyoubtn.btn.greybtn.whitetext(data-rUsername='#{request.get("rUser").username}', data-note='#{request.get("thankYou").note}', data-date='#{request.get("thankYou").date}', data-toggle='modal', data-target='#viewThankYouModal', data-backdrop='static') view<br>"Thank you"
                                    else
                                        button#editRequestBtn.editrequestbtn.greybtn(data-rid='#{request.get("rid")}', data-toggle='modal', data-target='#editRequestModal', data-backdrop='static') edit
                                        button#deleteRequestBtn.editrequestbtn.greybtn(data-rid='#{request.get("rid")}') delete
    //.row
    //    .col-md-12
    //        .panel.roundrequest
    //            .form-inline
    //                .container
    //                    .requestmargin
    //                        .row
    //                            .col-md-1
    //                                img.requestuserimage(src='/img/default_profile_pic.png')
    //                            .col-md-7
    //                                a.requestusername(href='#') @yourName
    //                                .form-inline.tags
    //                                    | #singleParent
    //                                    img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
    //                                    | #UofUStudent
    //                                    img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
    //                                    | #rent
    //                            .col-md-4
    //                                | Requested
    //                                em
    //                                    b $40
    //                                |  on Jan 19, 2018
    //                                .form-inline
    //                                    .fulfilled FULFILLED
    //                                    |  on Jan 23, 2018
    //                        .row.padding-top
    //                            .col-md-2
    //                                img.requestimage(src='/img/groceries_icon.png')
    //                            .col-md-8
    //                                .requestmessage
    //                                    | My oldest got sick and I had to miss a few days of work last week. Now I'm needing help to pay the rent for next month. Please help!
    //                            .col-md-2
    //                                button.thankyoubtn.winebtn say<br>"Thank you"
    //.row
    //    .col-md-12
    //        .panel.roundrequest
    //            .form-inline
    //                .container
    //                    .requestmargin
    //                        .row
    //                            .col-md-1
    //                                img.requestuserimage(src='/img/default_profile_pic.png')
    //                            .col-md-7
    //                                a.requestusername(href='#') @yourName
    //                                .form-inline.tags
    //                                    | #singleParent
    //                                    img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
    //                                    | #UofUStudent
    //                                    img.checkmark(src='/img/marooncheckmark.png', title="Verified By UofU Women's Resource Center")
    //                                    | #rent
    //                            .col-md-4
    //                                | Requested
    //                                em
    //                                    b $40
    //                                |  on Jan 19, 2018
    //                                .form-inline
    //                                    .fulfilled FULFILLED
    //                                    |  on Jan 23, 2018
    //                        .row.padding-top
    //                            .col-md-2
    //                                img.requestimage(src='/img/clothing_icon.png')
    //                            .col-md-8
    //                                .requestmessage
    //                                    | My oldest got sick and I had to miss a few days of work last week. Now I'm needing help to pay the rent for next month. Please help!
    //                            .col-md-2
    //                                // <button class="thankyoubtn winebtn">say "Thank you"</button>
    //                        .row
    //                            .col-md-4
    //                            .col-md-8
    //                                .container
    //                                    .row
    //                                        #proposalAccordian.panel-group
    //                                            .panel.panel-default
    //                                                .panel-heading
    //                                                    h4.panel-title
    //                                                        a.btn.viewthankyoubtn.winebtn(data-toggle='collapse', data-parent='#proposalAccordian', href='#collapseThankYou') view<br>"Thank you"
    //                                                #collapseThankYou.panel-collapse.collapse.in
    //                                                    .panel-body
    //                                                        .roundthankyou
    //                                                            .requestmargin
    //                                                                h2.thankyouheader Thank You!
    //                                                                .requestmessage
    //                                                                    | Thank you so much! My heart is full and I have tears in my eyes. I am grateful for the generosity of strangers! <3 <3 <3