for org in locals.models
    .container-fluid
        .row
            .panel.form-inline
                .row.form-inline(style='margin:1%;')
                    #orgImage.col-md-2.text-center
                        img.orglogo(src='#{org.get("image")}')
                        a#editOrgBtn.horizontal-iconbox.orange.whitetext(href='#', data-toggle='modal', data-target='#editOrgModal', data-backdrop='static', style='margin-top: 6%;') update info
                    .col-md-10.text-center
                        a#orgName.col-md-12.orgname(target="_blank", href='#{org.get("website")}') #{org.get("name")}
                        .orgDescriptionDiv.off-white
                            #orgBio.orgmessage.panel-body #{org.get("description")}
                        .row.topborder
                            .col-md-6
                                a#orgWebsite(target="_blank", href='#{org.get("website")}') #{org.get("website")}
                                #orgPhone #{org.get("phone")}
                                #orgEmail #{org.get("email")}
                            .col-md-6
                                #orgAddress #{org.get("address")}
                .row
                    .col-md-12
                        #pendingMessage.errorLabel