for org in locals.models
    .row
        .col-md-12
            .panel.roundrequest
                .form-inline
                    .container
                        .requestmargin.text-center
                            a#orgName.col-md-12.orgname(target="_blank", href='#{org.get("website")}') #{org.get("name")}
                            .row
                                #orgImage.col-md-2
                                    img.orglogo(src='#{org.get("image")}')
                                .col-md-10.text-center
                                    #orgBio.orgmessage.panel-body #{org.get("description")}
                                    .row.topborder
                                        .col-md-6
                                            a#orgWebsite(target="_blank", href='#{org.get("website")}') #{org.get("website")}
                                            #orgPhone #{org.get("phone")}
                                            #orgEmail #{org.get("email")}
                                        .col-md-6
                                            #orgAddress #{org.get("address")}
