for request in locals.collection.models
    .container-fluid
        .row
            .panel.panel-default
                .panel-body
                    .container-fluid
                        .row
                            .col-md-2
                                img#requestUserImage.requestuserimage(src='#{request.get("rUser").image}')
                            .col-md-10
                                .form-inline
                                    .form-group
                                        a#otherProfileLink.requestusername.btn(data-uid='#{request.get("rUser").uid}', data-toggle='modal', data-target='#otherProfileModal', data-backdrop='static') #{request.get("rUser").username}
                                    #requestTags.tags.form-group
                                        for tag in request.get("rUser").tags
                                            if tag.tagname !== ''
                                                b &nbsp##{tag.tagname}
                                            if tag.verifiedBy !== ''
                                                span(data-title='Verified by #{tag.verifiedBy}')
                                                    img.checkmark(src='/img/marooncheckmark.png')
                                            else
                                                | &nbsp
                                #requestDate.pull-right(style='font-size:14pt;') posted on #{request.get("requestTime")}
                        .row.topborder
                            br
                            .col-md-2
                                if request.get("tag1") !== ''
                                    .tags
                                        b ##{request.get("tag1").tagname}
                                #requestImage
                                    img.requestimage(src='#{request.get("image")}')
                            .col-md-8
                                .requestdescriptiondiv
                                    #requestDescription.requestmessage #{request.get("description")}
                            .col-md-2(align="center")
                                if request.get("rUser").uid !== locals.myUid
                                    button#giveBtn.iconbox.orange.whitetext(data-rid='#{request.get("rid")}', data-amount='#{request.get("amount")}', data-username='#{request.get("rUser").username}', data-ruser-uid='#{request.get("rUser").uid}')
                                        i.fas.fa-angle-double-right.fa-2x(style='width:100%;top-padding:-1%;')
                                        | $#{request.get("amount")}
                                else
                                    button#giveBtn.iconbox.orange.whitetext(disabled='', data-rid='#{request.get("rid")}', data-amount='#{request.get("amount")}', data-username='#{request.get("rUser").username}', data-ruser-uid='#{request.get("rUser").uid}', style='margin-top: 1%;')
                                        i.fas.fa-angle-double-right.fa-2x(style='width:100%;top-padding:-1%;')
                                        | $#{request.get("amount")}
//nav(aria-label='...')
//    ul.pager
//        li.previous
//            a(href='#')
//                span(aria-hidden='true') ←
//                | Prev
//        li.next
//            a(href='#')
//                | Next
//                span(aria-hidden='true') →