if locals.btnColor === 'yellow'
    button.btn.yellow.whitetext-outline(id='#{locals.tid}', style='font-size: 14pt') #{locals.tagname}
        span.img-circle(aria-hidden="true", style='margin-left:5px;') &times;
else if locals.btnColor === 'orange'
    button.btn.orange.whitetext-outline(id='#{locals.tid}', style='font-size: 14pt') #{locals.tagname}
        span(aria-hidden="true", style='margin-left:5px;') &times;
else
    button.btn.turquoise.whitetext-outline(id='#{locals.tid}#{locals.tagname}', data-value='#{locals.tagname}', style='font-size: 14pt') #{locals.tagname}
        span(aria-hidden="true", style='margin-left:5px;') &times;