for user in locals.models
    .row
        .col-md-12
            .panel.roundrequest
                .form-inline
                    .container
                        .requestmargin.text-center
                            .row
                                .col-md-1
                                    img.requestuserimage(src='#{user.get("image")}')
                                 .col-md-11
                                    a.requestusername(target="_blank", href='#') @#{user.get("username")}
                            .row.topborder
                                .col-md-12.text-center
                                    | #{user.get("bio")}
                                    br
                                    for tag in user.get("tags")
                                        if tag.tagname !== ''
                                            if tag.verifiedBy !== ''
                                                a(href='#', data-tag='#{tag.tid}', data-uid='#{user.get("uid")}', tabindex='-1')
                                                    input#verifyTag(type='checkbox', checked="checked",)
                                                | &nbsp##{tag.tagname}&nbsp&nbsp
                                            else
                                                a(href='#', data-tag='#{tag.tid}', data-uid='#{user.get("uid")}', tabindex='-1')
                                                    input#verifyTag(type='checkbox')
                                                | &nbsp##{tag.tagname}&nbsp&nbsp
                            .row
                                .col-md-12.text-center
                                    button#updateVerifiedTagsBtn.thankyoubtn.orangebtn update