.container-fluid
    for user in locals.models
        .row
            .col-md-10.col-md-offset-1
                .panel.panel-default
                    .panel-body
                        .container-fluid
                            .row
                                .col-md-1
                                    img.img-circle.requestuserimage(src='#{user.get("image")}')
                                .col-md-11
                                    .row.form-inline
                                        .col-md-4
                                            a#otherProfileLink.requestusername(data-uid='#{user.get("uid")}', data-toggle='modal', data-target='#otherProfileModal', data-backdrop='static') #{user.get("username")}
                                        .col-md-4
                                        .col-md-4.text-right
                                            .username #{user.get("firstname")} #{user.get("lastname")}
                                            .username #{user.get("email")}
                                    .form-inline.tags
                                        for tag in user.get("tags")
                                            if tag.tagname !== ''
                                                if tag.verifiedBy !== ''
                                                    .verifytag
                                                        | ##{tag.tagname}
                                                    //button#updateVerifiedTagsBtn.verifybtn.winebtn(data-uid='#{user.get("uid")}', data-username='#{user.get("username")}') unverify
                                                    button#unverifyTagBtn.btn.btn-danger(type='submit', data-tid='#{tag.tid}', data-tagname='#{tag.tagname}', data-uid='#{user.get("uid")}', data-username='#{user.get("username")}') unverify
                                                        //img(src='/img/marooncheckmark.png', width='40', height='40', alt='submit')
                                                    //a(href='#', data-tag='#{tag.tid}', data-uid='#{user.get("uid")}', tabindex='-1')
                                                    //    input#verifyTag(type='checkbox', name='verifiedtag', checked="checked")
                                                    //    label(for='verifiedtag')
                                                else
                                                    .verifytag
                                                        | ##{tag.tagname}
                                                    button#verifyTagBtn.btn.turquoise.whitetext(data-tid='#{tag.tid}', data-tagname='#{tag.tagname}', data-uid='#{user.get("uid")}', data-username='#{user.get("username")}') verify
                                                    //a(href='#', data-tag='#{tag.tid}', data-uid='#{user.get("uid")}', tabindex='-1')
                                                    //    input#verifyTag(type='checkbox')
                                                    //    label(for='verifiedtag')
                            .row.topborder
                                .col-md-12
                                    .text-center
                                        br
                                        | #{user.get("bio")}



                                        //a.requestusername(target="_blank", href='#') @#{user.get("username")}
                            //.row
                            //    .col-md-12.text-center
                            //        button#updateVerifiedTagsBtn.thankyoubtn.purplebtn(data-uid='#{user.get("uid")}', data-username='#{user.get("username")}') update tags